<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="BinaryStoragePath" value="..\..\..\AppData\BankAccountsDB"/>
    <add key="XmlStoragePath" value="..\..\..\AppData\BankAccounts.xml"/>
    <add key="JsonStoragePath" value="..\..\..\AppData\BankAccounts.json"/>
  </appSettings>
</configuration>