@{
    ViewBag.Title = "Transfer";
}

<h2>Withdraw money</h2>

@using (Html.BeginForm(new { htmlAttributes = new { @class = "form-inline" } }))
{
    @Html.AntiForgeryToken()
    <div>
        <div>
            <label for="from">From: </label>
            <input type="text" class="form-control" name="firstId" id="from" />
        </div>
        <div>
            <label for="to">To: </label>
            <input type="text" class="form-control" name="secondId" id="to" />
        </div>
        <div>
            <label for="money">Enter amount of money: </label>
            <input type="text" class="form-control" name="amount" id="money" />
            <br />
        </div>
        <input type="submit" value="Transfer" class="btn btn-primary btn-lg" />
    </div>
}

